html, body{
    height: 100%;
}

body{
    font-family: Roboto;
    color: rgb(23, 41, 201);
    background-color: aquamarine;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: white;
    border-bottom: 10px ;
}

*::before{
    
}