html, body{
    height: 100%;
    border-radius: 510;
}

body{
    font-family: Roboto;
    color: rgb(16, 24, 19);
    background-color: rgb(20, 141, 197);
    border-radius:510 ;
}

.topo{
    display: flexbox; /* alinhar logo e menu lado a lado */
    justify-content: space-between;
    align-items: center; /* centraliza os elementos */
    padding: 15px;
    background: rgb(248, 246, 246);
    border-bottom: 10px solid #f5f5f5;  
    border-radius: 510; 
    
}

.btn{
    background: white;
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.4s ease; /* Suaviza a trnsição de cor */
}

/* Botão azul */
.btn-azul:hover{
    background: linear-gradient(90deg, #60a5fa, #1e3a8a);/* Degradê azul quando passa o mouse */
    color: white;
    border-color: #1e3a8a;
}

/* Botão amarelo */
.btn amarelo:acative{
    background: linear-gradient(90deg,#60a5fa, #1e3a8a);
    color: black;
    border-color: #1e3a8a;
}


