html, body{
    height: 100%;    
}

body{
    font-family: Roboto;
    color: rgb(3, 127, 143);
}

.topo{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 15px;
    background: rgb(12, 79, 117);
    border-bottom: 10px solid #f70505; 
}
body{
    font-family: Aral, sans-serif;
    background: #f1f5f9;
    text-align:center;
    padding: 3rem;
}

.btn{
    background: white; 
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.4s ease; 
}

 /*Botão */ /* Botão azul */
.btn-azul:hover{
    background: linear-gradient(90deg, #169099, #34158a);/* Degradê azul quando passa o mouse */
    color: white;
    border-color: #0e008b;
}

 /*Botão *//* Botão amarelo */
.btn-amarelo:active{
    background: linear-gradient(90deg, #63096b, #355a06);/* Degradê amarelo quando passa o mouse */
    color: black;
    border-color: #2d0075;
}

.image{
    box-shadow: #2d0075;
}